<div id="overview" class="animated fadeInRight">
	<div class="row chartGroup">
		<h1>Overview</h1>
		<hr style="margin-top: 5px;"/>
		<div class="col-sm-4" ng-controller="pcpuCtrl">
			<h3 style="margin-left:60px">CPU</h3>
			<canvas id="pcpu" class="chart chart-doughnut" 
			  chart-data="data" chart-labels="labels" chart-legend="false">
			</canvas>
		</div>
		<div class="col-sm-4" ng-controller="pmemCtrl">
			<h3 style="margin-left:60px">MEM</h3>
			<canvas id="pmem" class="chart chart-doughnut" chart-data="data"
			  chart-data="data" chart-labels="labels" chart-legend="false">
			</canvas> 
		</div>
		<div class="col-sm-4" ng-controller="pnetCtrl">
			<h3 style="margin-left:60px">NET</h3>
			<canvas id="pnet" class="chart chart-doughnut" chart-data="data"
			  chart-data="data" chart-labels="labels" chart-legend="false">
			</canvas> 
		</div>
	</div>
	<div class="tableGroup" ng-controller="tableCtrl">
		<div id="tableBack">
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
					<tr>
						<th>Name</th>
                        <th>IP</th>
						<th>CPU</th>
						<th>Memory</th>
						<th>Disk</th>
                        <th>Created</th>
					</tr>
					</thead>
					<tbody>
					<tr class="read" ng-repeat="vm in vms" ng-click="rowClick(vm.id)">
						<td class="mail-subject">{{vm.name}}</td>
						<td>{{vm.ip}}</td>
						<td>{{flavors[vm.flavor].cpu}}</td>
                        <td>{{flavors[vm.flavor].ram}}MB</td>
                        <td>{{flavors[vm.flavor].disk}}GB</td>
                        <td class="mail-date">{{vm.created}}</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
