<div class="animated fadeInRight">
    <div id="backTask">
        <a id="backUrl" ui-sref="navbar.pm">
            <i class="glyphicon glyphicon-arrow-left" style="margin-right:5px; font-size: 14px!important;"></i>
            <span>Hypervisors</span>
        </a>
    </div>
    <div class="padContent" ng-controller="pmdetailCtrl">
        <div class="detailContent animated fadeInRight" style="background-color: #ffffff">
            <h1>Hypervisors Details</h1>
            <hr style="margin-top: 5px;"/>
            <ul class="specs">
                <li>
                    <span>ID</span>
                    <dd title="{{ data.id }}">{{data.id}}</dd>
                </li>
                <li>
                    <span>Name</span>
                    <dd>{{data.hypervisor_hostname}}</dd>
                </li>
                <li>
                    <span>Type</span>
                    <dd>{{data.hypervisor_type}}</dd>
                </li>
                <li>
                    <span>State</span>
                    <dd>{{data.state}}</dd>
                </li>
                <li>
                    <span>IP</span>
                    <dd title="{{data.host_ip}}">{{data.host_ip}}</dd>
                </li>
                <li>
                    <span>Options</span>
                    <dd>
                        <a ng-click="kill(task)" title="kill"><span class="si-close-circle"></span></a>
                        <a ng-click="delete(task)" title="delete"><span class="si-trash"></span></a>
                        <a href=""><span class="si-file"></span></a>
                    </dd>
                </li>
            </ul>
        </div>
    </div>
    <div class="wrapper wrapper-content">
        <div ng-cloak="" class="tabsdemoDynamicHeight">
            <md-content>
                <md-tabs md-dynamic-height="" md-border-bottom="">
                    <md-tab label="one">
                        <md-content class="md-padding">
                            <div class="row tabContent">
                                <div class="col-sm-12">
                                    <div ng-controller="pmCpuCtrl">
                                        <h2>CPU</h2>
                                        <canvas id="cpu" class="chart chart-line" chart-data="data"
                                                chart-labels="labels" chart-legend="true" chart-series="series"
                                                height="80">
                                        </canvas>
                                    </div>
                                    <!--div ng-controller="memCtrl">
                                        <h2>MEM</h2>
                                        <canvas id="mem" class="chart chart-line" chart-data="data"
                                                chart-labels="labels" chart-legend="true" chart-series="series"
                                                height="60">
                                        </canvas>
                                    </div-->
                                </div>
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab label="two">
                        <md-content class="md-padding">
                            <h1 class="md-display-2">Tab Two</h1>
                            <p>Reminding to complete</p>
                        </md-content>
                    </md-tab>
                    <md-tab label="three">
                        <md-content class="md-padding">
                            <h1 class="md-display-2">Tab Three</h1>
                            <p>Reminding to complete</p>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </md-content>
        </div>
        <!--
        Copyright 2016 Google Inc. All Rights Reserved.
        Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
        -->
    </div>
</div>
