<div class="animated fadeInRight">
    <div class="wrapper wrapper-content">
        <div ng-cloak="" class="tabsdemoDynamicHeight">
            <md-content>
                <md-tabs md-dynamic-height="" md-border-bottom="">
                    <md-tab label="{{ 'TOPOLOGY' | translate }}">
                        <md-content class="md-padding">
                            <div class="row" ng-controller='topologyCtrl'>
                                <div class="mailbox-main" stype='margin: 10px 20px'>
                                    <vis-network data="data" options="options"></vis-network>
                                </div>
                            </div>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </md-content>
        </div>
    </div>
</div>
