<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span class="si-close modal-close" ng-click="cancel()"></span><span class="sr-only">Close</span></button>
    <h4 class="modal-title">Create task</h4>
</div>
<div class="modal-body">
    <h4>Basic</h4>
    <div class="row form-group">
        <div class="col-sm-6">
            <label for="name-field" class="control-label">Name</label>
            <div><input type="text" id="name-field" ng-model="vm.name" class="form-control"></div>
        </div>
        <div class="col-sm-6">
            <label for="network-field" class="control-label">Flavor</label>
            <select type="text" id="network-field" ng-model="vm.flavor" class="form-control">
                <option value="HOST">m1.small</option>
                <option value="BRIDGE">m1.tiny</option>
            </select>
        </div>
        <div class="col-sm-6">
            <label for="name-field" class="control-label">Instance Count</label>
            <div><input type="text" id="name-field" ng-model="vm.count" class="form-control"></div>
        </div>
        <div class="col-sm-6">
            <label for="network-field" class="control-label">Boot Source</label>
            <select type="text" id="network-field" ng-model="vm.boot_source" class="form-control">
                <option value="HOST">cirros</option>
                <option value="BRIDGE">ubuntu</option>
            </select>
        </div>
    </div>
    <div class="row full-bleed">
        <div class="panel panel-default">
            <div class="panel-heading clickable">
                <div class="panel-title">
                    <a data-toggle="collapse" data-target=".DockerSetting" aria-expanded="true"><span class="si-angle-right"></span>Advance</a>
                </div>
            </div>
            <div id="DockerSetting" class="DockerSetting panel-collapse collapse" aria-expanded="true">
                <div class="panel-body">
                    <h4>Access && Security</h4>
                    <div class="row duplicable-row" ng-repeat="port_mapping in task.port_mappings">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Key Pair</label>
                                <div><select type="text" ng-model="port_mapping.protocol" class="form-control">
                                    <option value="TCP">admin_key</option>
                                    <option value="UDP">demo_key</option>
                                </select></div>
                            </div>
                            <!-- <div class="controls">
                                <a ng-click="addPortMapping()"><span class="si-plus"></span></a>
                                <a ng-show="$index!=0" ng-click="deletePortMapping($index)"><span class="si-less"></span></a>
                            </div> -->
                        </div>
                    </div>
                    <h4>Network</h4>
                    <div class="row duplicable-row" ng-repeat="volume in task.volumes">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Available Network</label>
                                <div><select type="text" ng-model="volume.mode" class="form-control">
                                    <option value="RO">pv</option>
                                    <option value="RW">public</option>
                                </select></div>
                            </div>
                            <!-- <div class="controls">
                                <a ng-click="addVolume()"><span class="si-plus"></span></a>
                                <a ng-show="$index!=0" ng-click="deleteVolume($index)"><span class="si-less"></span></a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-white" ng-click="cancel()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="submit()">Create</button>
</div>
